body {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.sorry-container {
    text-align: center;
}

.gif-image img {
    max-width: 100%;
    height: auto;
}
.text{
    font-weight: 700;
    font-family: cursive;
    font-size: 50px;
}
